node_modules
.firebaserc
dist/3rdpartylicenses.txt
dist/favicon.ico
dist/index.html
dist/main-es5.9104780b927d177a4a29.js
dist/main-es2017.9104780b927d177a4a29.js
dist/polyfills-es5.3c9de5b0a41028e39dfc.js
dist/polyfills-es2017.86aab70fe3a0f343690e.js
dist/runtime-es5.9c0c6a0719d719a7fe13.js
dist/runtime-es2017.9c0c6a0719d719a7fe13.js
dist/styles.e8f8887ed037ae6c223a.css
dist/assets/logo (2).ico
dist/assets/logo.ico
dist/assets/logo.png
dist/assets/vanilla-tilt.js
dist/assets/employees/avatar.jpg
dist/assets/employees/ceo.jpg
dist/assets/projects/ANEGAN.jpg
dist/assets/projects/APPA.jpg
dist/assets/projects/DEDHISHQIYA.jpeg
dist/assets/projects/kaashmora.jpg
dist/assets/projects/kavan.jpeg
dist/assets/projects/KAVAN.jpg
dist/assets/projects/MOHANDASS.jpg
dist/assets/projects/pokkiriraja.jpeg
dist/assets/projects/POKKIRIRAJA.jpg
dist/assets/projects/sarpata.jpeg
dist/assets/projects/SARPATTA.jpeg
dist/assets/projects/SARPATTA.jpg
dist/assets/projects/thondan.jpeg
dist/assets/projects/thondan.jpg
dist/assets/projects/VAALU.jpg
dist/assets/projects/YATCHAN.jpg
dist/assets/quotations/DI.pdf
dist/assets/quotations/zedByte-2.pdf
dist/main-es5.6ca527a2eac8ed01dd9a.js
dist/main-es2017.6ca527a2eac8ed01dd9a.js
dist/styles.ef4f62927e8e6263c044.css
.firebase/hosting.ZGlzdA.cache
