<app-header></app-header>
<div class="bg_container">
    <div class="text_container">
        <div>
            <div class="_text">CONFORM</div>
            <div class="_text1">What is Conforming?</div>
            <div class="para">During the digital media post-production process, there is something known as a conform. This is essentially the process of taking a low-resolution edit and working to increase the resolution. Also known as an ‘offline’ edit, this is the process of taking the resolution up to client specifications.
                A general rule of thumb, be it for television or digital films, is to edit at a lower resolution. This is because these types of projects are filmed with a high shooting ratio.
                As it stands, most computers and editing systems simply do not have the memory to edit the vast amount of data that is created by something with a higher resolution. With a lower resolution, this allows transcoding to be done by the editors in a way that does not cripple their system.                
            </div>
            <div class="_text1">Conformity at Your Disposal</div>
            <div class="para">
                Whatever your online conform needs may be, we at Flash storage can provide precisely that. We offer nothing but the finest services available in the industry.
                When it comes to getting the best final show/product that you have envisioned, Flash storage is the name to trust in the conform process. Let there be no question about the quality of the conform that you get back; we tailor our services to precisely what you want.

            </div>
            <div class="_text1">Online Conforming</div>
            <div class="para">
                The final step in the process is after the work on the ‘offline’ version has been completed. This conform process involves reconnecting that edited footage to the full-resolution version. This step in the process uses what is known as the EDL of the timeline.
                The EDL acts as something of a reference file of the project. The editor can open this file which contains the full resolution files. Once this has been done, those full resolution files are able to reconnect with the parent file, creating the timeline of your project online.
                Regardless of the project, Flash storage conformists can bring you the best in conform services. Best of all, we work within any budget, allowing you to get the work you need done at the price that fits you best.
                Expect professionalism, experience, and a job done right when using FLASH STORAGE.
            </div>    
        </div>
    </div>
</div>
<app-navigation></app-navigation>