.bg_container, .header_container, .cards_container
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.bg_container, .cards_container
{
    flex-direction: column;
}


.bg_container
{
    height:83vh;
    width:100vw;
    justify-content: flex-start;
    overflow: scroll;
    background: var(--color-3);
}

.bg_container::-webkit-scrollbar
{
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .bg_container 
  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.header_container
{
    height: 10vh;
    width:100vw;
}

.heading
{
    font-weight: 500;
    padding-top:10px;
    font-family: var(--heading);
    font-size: var(--subheading_size);
    color: var(--color-1);
}

.cards_container
{
    margin-top: 5vh;
    gap: 3vw;
    font-family: var(--heading);
    color: var(--color-2);
}

.text_container
{
    width:70vw;
    padding-top: 30px;
    font-weight: 300;
    color: var(--color-1);
    font-family: var(--para);
    font-size: var(--subheading_size);
}


._text
{
    font-weight: 600;
    font-size: 17vw;
    color: var(--color-2);
    font-family: var(--para);
}

._text1, .para
{
    padding-top:5vh;
}

._text1
{
    font-weight: 600;
    font-family: var(--para);
    font-size: var(--heading_size);
}

.para
{
    font-weight: 300;
    color: var(--color-1);
    font-family: var(--para);
    font-size: var(--subheading_size);
}

.para div, .para li
{
    padding-bottom: 2vh;
}


.para div b
{
    font-size: var(--subheading_size);
    text-decoration: underline;
    
}

.button_container
{
    display: flex;
    justify-content: center;
}

.button
{
    margin-top: 3vh;
    margin-left: 1vh;
    cursor: pointer;
    background:transparent;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: var(--color-2);
    font-size: var(--subheading_size);
    border-color: var(--color-2);
}

.button:hover
{
    color: var(--color-1);
}

.gap
{
    height: 4vh;
}



/* smartphones, iPhone, portrait 480x320 phones */ 


@media only screen and (max-device-width: 480px)  
{ 
    ._text
    {
        font-size: 18vw;
    }

    ._text1
    {
        font-size: 10vw;
    }

    .para
    {
        font-size: 5vw;
    }
    
    .button
    {
        font-size: 2vw;
    }
}