<app-header></app-header>
<div class="bg_container">
    <div class="text_container">
        <div>
            <div class="_text">DI</div>
            <div class="_text1">What does a FLASH DI do ?</div>
            <div class="para">FLASH STORAGE has one of the finest facilities for Color Grading (Digital Intermediate (DI)) post services with possibilities of 4K and 8K workflow. <br>
                 Our excellent, state of the art color grading (DI) suites in the studios at Chennai and we provide a memorable work experience.<br>


                The visually stunning art of color correction aka color timing or color grading serves to technically align images, support the emotional tone, make images easy to 
                read by focusing our attention and adding that little sparkle of magic to turn moving images into cinematic moments. <br>
                
                FLASH STORAGE offers remote grading or on-site color correction services in top color suite facilities running Blackmagic DaVinci Resolve Studio.
                
            </div>
            <div class="_text1">Remote Grading</div>
            <div class="para">
                With ultra-low latency, high quality and encrypted streaming we can collaborate remotely on commercial projects almost as if you were in our grading suite. On any device, no set up is required. If you doubt your screen, we can send you a profiled Ipad for the session.
Or we can lend you a Davinci Resolve licence to remotely connect even with a slow internet connection.
Our file transfer provider is super fast, reliable and secure. It is also conveniently integrated with Amazon S3, Google Cloud Storage and Dropbox among other services.

            </div>
            
        </div>
        <div class="gap">
                
        </div>  
    </div>
</div>
<app-navigation></app-navigation>