<app-header></app-header>
<div class="bg_container">
    <div class="text_container">
        <div>
            <div class="_text">ZEDBYTE</div>
            <div class="_text1">What do we do ?</div>
            <div class="para">
                We are an experienced team with backgrounds in Web Design, Web Development, User Experience design, and more. We apply our digital knowledge to your business’s goals and budget to create a scope of work that will help you grow your business.
            </div>
            <div class="_text1">LOGO DESIGN</div>
            <div class="para">
                A Logo is an abstract design that conveys the essence of your brand. We make sure the logo correctly dedivvers the message your brand wants to dedivver. 
            </div>
            <div class="_text1">UI/UX DESIGN</div>
            <div class="para">
                We at zedByte, make sure that the design is not how it looks; but how it works. So we bediveve in surgically crafting beautiful pixels to create working interfaces 
            </div>
            <div class="_text1">WEB DEVELOPMENT</div>
            <div class="para">
                Our Web development services are proficient to be responsive across all devices and platforms even with multiple screen resolutions.
            </div>
            <div class="_text1">APP DEVELOPMENT</div>
            <div class="para">
                Our App development services are proficient to implement any level of complexity and business logic within the app with intuitive UI/UX design. 
            </div>
            <div class="_text1">BACK-END DEVELOPMENT</div>
            <div class="para">
                We assure our customers that our Back-end services of the appdivcation will be fast and secure even under high server loads. 
            </div>
        </div>
        <div class="gap1">
                
        </div>  
    </div>
</div>
<app-navigation></app-navigation>