<app-header></app-header>
<div class="bg_container">
    <div class="card_container">
        
        <div class="image_wrap" id="image_wrap">
            <img src="https://images.blackmagicdesign.com/images/products/davinciresolve/panels/three-panels/micro-panel-xl.jpg?_v=1604895928" alt="">
            <img src="https://images.blackmagicdesign.com/images/products/davinciresolve/panels/mini-panel/mini-panel-md.jpg?_v=1603089039" alt="">
            <img src="https://images.blackmagicdesign.com/images/products/davinciresolve/panels/advanced-panel/advanced-panel-md.jpg?_v=1603089215" alt="">
        </div>


        <div class="home_text">FLASH STORAGE</div>
        <div class="text_container">
            <div class="_text">SHIT HAPPENS IN OUR ABSENCE</div>
        </div>
       
    
        <!-- Safari is not supporting keyframe animation  -->

        <!-- <div class="home_text"><span id="spin"></span> HAPPENS, IN OUR <span id="spin_2"></span></div>

        
        <div class="text_container">
            <div class="_text">
                <span id="counter_1"></span>+ PROJECTS</div>
            <div class="_text">
                <span id="counter_2"></span>TB+ STORAGE</div>
            <div class="_text">
                <span id="counter_3"></span>+ HAPPY CLIENTS</div>
        </div> -->
    </div>
    

</div>
<app-navigation></app-navigation>

