<app-header></app-header>

<div class="bg_container">

    <div class="header_container">
        <div class="heading">CONTACT US</div>
    </div>

    <div class="cards_container">
        <div class="para">Need something? Our expert FlashSquad will get in touch with you and answer all your doubts,
            <br>Please do not hesitate to reach us out</div>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.921438688336!2d80.18084085096764!3d13.040672490765543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5261964ec6c67d%3A0xc48e374afbfc5eb9!2sGOLDEN%20BEE%20FILMS%2C%20ACTOR%3AC.M.BALA.!5e0!3m2!1sen!2sin!4v1624819829990!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="contact_container">
                <div class='button' (click)="whatsapp()">WHATSAPP</div>
                <div class='button' (click)="instagram()">INSTAGRAM</div>
                <div class='button' (click)="Email()">EMAIL</div>
            </div>

            <!-- <div class="FAQ">
                <div class="_text">FAQ</div>
                <div *ngFor="let FAQ of FAQ_data">
                    <div class="_text1">{{FAQ.question}}</div>
                    <div class="para">{{FAQ.answer}}</div>
                </div>
            </div> -->
            
        </div>
    </div>


<app-navigation></app-navigation>
