<app-header></app-header>
<div class="bg_container">
    <div class="text_container">
        <div>
            <div class="_text">DIT</div>
            <div class="_text1">What does a FLASH DIT do ?</div>
            <div class="para">We Digital imaging technicians (DITs) help the director of photography (DoP) with the digital know-how of the camera. <br>
                We advise the DoP on contrast, brightness and the effects of under or over-exposure, as these constraints are different from shooting <br>
                with film. We also advise the camera crew on shots in progress, reporting any soft focus, framing issues or unwanted reflections and shadows. <br>
                We do quality control checks on the recorded material. Most digital footage on professional shoots is shot raw, which means it has <br>
                no colour baked in and the colour is applied in post-production. We apply colour to the raw footage to give an idea of how it will look. <br>
                And we might be asked to put it into a viewable file so the director can watch it on a tablet on the way home.
            </div>
            <div class="_text1">What’s a FLASH DIT good at ?</div>
            <div class="para">
                <div> 
                    Digital cameras and computers: have expert knowledge of cameras, file formats, storage media and computer systems to get the smoothest workflow
                </div>
                <div>
                    Digital photography: understand contrast, focus, lighting, cinematography and colour, have a good eye for grading raw footage
                </div>
                <div>
                    Problem-solving: be able to fix kit, tech and cable connections
                </div>
                <div>
                    Communication: advise the director of photography on the benefits or limitations of particular set-ups, be the liaison between the set and the post-production team, create the best possible workflow between the two
                </div>
                <div>
                    Film production: understand how a film set works, the roles within it and production process
                </div>
            </div>
            <div class="_text1">Capabilities</div>
            <div class="para">
                <li> 
                    <b>Checksum Downloads from all cameras to secured storage </b> 
                </li>
                <li> 
                    <b>On Location storage – 32TB </b> 
                </li>
                <li> 
                    <b>Instant multiple backup copies to HDD, SSD or LTO</b> 
                </li>
                <li> 
                    <b>Live Color adjustment from camera </b> 
                </li>
                <li> 
                    <b>Audio Sync </b> 
                </li>
                <li> 
                    <b>Dailies – Transcodes </b> 
                </li>
                <li> 
                    <b>Editorial Deliverables</b> 
                </li>
                <li> 
                    <b>Daily basis quality reports</b> 
                </li>
            </div> 
            <div class="button_container">
                <button  class="button" (click) = "Route_to_DIT_General()">GENERAL QUOTATION</button>
                <button  class="button" (click) = "Route_to_DIT()">DETAILED QUOTATION</button>
            </div> 
            <div class="gap">
                
            </div>  
        </div>
    </div>
</div>
<app-navigation></app-navigation>