<div class="bg_container">
    <div class="nav-wrapper">
        <div class="nav-bar">
                <div class="Hover" routerLinkActive="HOME" [routerLinkActiveOptions]="{exact: true}" routerLink="">HOME</div>
                <div class="Hover" routerLinkActive="SERVICES" [routerLinkActiveOptions]="{exact: true}" routerLink="/services">SERVICES</div>
                <div class="Hover" routerLinkActive="PROJECTS" [routerLinkActiveOptions]="{exact: true}" routerLink="/projects">PROJECTS</div>
                <div class="Hover" routerLinkActive="ABOUT_US" [routerLinkActiveOptions]="{exact: true}" routerLink="/about-us">ABOUT</div>
                <div class="Hover" routerLinkActive="CONTACT_US" [routerLinkActiveOptions]="{exact: true}" routerLink="/contact-us">CONTACT</div>
        </div>
        <!-- <p>ALL COPYRIGHTS RECEIVED, DESIGNED AND DEVELOPED BY ZEDBYTE</p> -->
    </div>
</div>